<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Reto3</title>
</head>

<body>

    <div id="app">

        <!-- Administrador del sistema -->
        <div v-if="true">

            <div class="administrador">

                <div class="cargoSeleccionar">
                    <h2 class="contenido">Salario Base</h2>
                    <select v-model="cargoSeleccionado" class="contenido">
                        <option v-for="cargo of cargos">{{cargo.cargo}}</option>
                    </select>
                    <input v-model.number="salarioBase" placeholder="salario base" class="contenido">
                    <button @click="guardarSalarioBase" class="contenido">Guardar</button>
                </div>

                <div class="cargoSeleccionar">

                        <h2 class="contenido">Cantidad máxima de zapatos</h2>
                        <input v-model.number="cantidadMaximaZapatos" placeholder="cantidad" class="contenido">
                        <button @click="guardarMaximoZapatos" class="contenido">Guardar</button>
                    

                </div>

            </div>

        </div>






    </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

<script src="main.js"></script>

</html>