@font-face{
    font-family: fuentePPC;
    src: url(Raleway-Regular.ttf);
}
@font-face{
    font-family: fuentePPC-bold;
    src: url(Raleway-Bold.ttf);
}
body{
    font-family: fuentePPC;
}

#app{
    display: flex;
    justify-content: center;
}
#login{
    background-color: rgb(255, 255, 255,0.7);
    border-radius: 30px;
    border-color: rgb(30, 25, 53);
    border-width: 3px;
    border-style: solid;

}
#administrador{
    background-color: rgb(255, 255, 255,0.7);
    border-radius: 30px;
    border-color: rgb(30, 25, 53);
    border-width: 3px;
    border-style: solid;
}
#secretario{
    background-color: rgb(255, 255, 255,0.7);
    border-radius: 30px;
    border-color: rgb(30, 25, 53);
    border-width: 3px;
    border-style: solid;
}
#vendedor{
    background-color: rgb(255, 255, 255,0.7);
    border-radius: 30px;
    border-color: rgb(30, 25, 53);
    border-width: 3px;
    border-style: solid;
}
#ensamblador{
    background-color: rgb(255, 255, 255,0.7);
    border-radius: 30px;
    border-color: rgb(30, 25, 53);
    border-width: 3px;
    border-style: solid;
}
#pLogin{
    font-family: fuentePPC-bold;
    text-align: center;
    
}


#bLogin button{
    position: relative;
    font-family: fuentePPC;
    font-size: 25px;
    left: 150px;
}

#selectLogin{
    font-family: fuentePPC;
    font-size: 20px;
}
